:root {
    --primero: #a8fcf8;
    --segundo: #030d9e;
    --tercero: #85009c;
    --cuarto: #eca90c;
}

.carousel{
    max-height: 450px;
}

.foto{
    vertical-align: middle;
}

.enlace{
   text-decoration: none; 
   color:rgb(177, 8, 177);
}

.enlace:hover{
    color:rgb(121, 6, 121);
}

.boton{
    border-radius: 5px;
    padding:0.5em;
    width: 100%;
    background-color: transparent;
    color:white !important;
}

.boton:hover{
    color:#a8fcf8 !important;
}

div#colorFondo{
    background: linear-gradient(to right,#030d9e, #85009c);
}

h3#colorFondo2{
    background-color:#5e046e ;
    color:white;
}

div#colorFondo3{
    background-color: #dff3f2;
}

h4#colorTexto{
    color:#02096e;
}
